@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: #f2f2e9;
  display: flex;
  align-content: center;
  flex-direction: column; }

body {
  margin: auto;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column; }

#top {
  position: relative;
  width: available;
  height: 30%;
  display: flex;
  align-content: center;
  flex-direction: column; }
  #top.small {
    height: 10%;
    transition: height 350ms; }

#top-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("https://scontent.fhan2-4.fna.fbcdn.net/v/t1.0-9/42910111_1997855156947060_4993585538201026560_n.jpg?_nc_cat=110&_nc_oc=AQmGLVtvqMukCSh31SHjt2ZZwnbvBA5gcrPe7M70NJJYdQGpRkRuoY0uBhvi13ALsOE&_nc_ht=scontent.fhan2-4.fna&oh=ef522db875055067b9fb67f164251807&oe=5D1427BB") center;
  background-size: cover;
  opacity: 0.5;
  filter: blur(3px);
  animation: 400ms ease both fade-in; }
@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.5; } }
#center-img {
  margin: auto;
  height: 80%;
  width: auto;
  object-fit: contain;
  border-radius: 50%;
  border: 2px solid #ededda;
  z-index: 1;
  animation: 400ms ease both scale-in;
  animation-delay: 300ms; }
@keyframes scale-in {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
#greetings {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  overflow: hidden; }
  #greetings.small {
    margin: 5px 0;
    height: 0;
    transition: height 300ms, margin 300ms; }
  #greetings #title {
    text-align: center;
    font-family: "Roboto Slab", serif;
    font-size: 4rem;
    font-weight: normal;
    animation: 500ms ease both slide-in;
    animation-delay: 600ms; }
    #greetings #title marked {
      background-color: #4c80ba;
      color: white; }
  #greetings #sub-title {
    text-align: center;
    font-family: "Roboto Light", sans-serif;
    font-size: 1.25rem;
    animation: 500ms ease both slide-in;
    animation-delay: 900ms; }
@keyframes slide-in {
  0% {
    transform: translateX(-50px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }
#tabs {
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  #tabs.small {
    height: 50px;
    transition: height 300ms; }
  #tabs .tab-button {
    height: 100%;
    min-width: 250px;
    flex-grow: 1;
    display: flex;
    opacity: 0.5; }
    #tabs .tab-button:nth-child(1) {
      animation: 500ms ease backwards slide-up;
      animation-delay: 1350ms; }
    #tabs .tab-button:nth-child(2) {
      animation: 500ms ease backwards slide-up;
      animation-delay: 1500ms; }
    #tabs .tab-button:nth-child(3) {
      animation: 500ms ease backwards slide-up;
      animation-delay: 1650ms; }
    #tabs .tab-button:nth-child(4) {
      animation: 500ms ease backwards slide-up;
      animation-delay: 1800ms; }
@keyframes slide-up {
  0% {
    transform: translateY(-30px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 0.5; } }
    #tabs .tab-button:hover {
      z-index: 1;
      background-color: #a1daaaff;
      transform: translateY(-5px);
      transition: background-color 300ms, transform 300ms; }
    #tabs .tab-button.current {
      background-color: #a1daaaff;
      transform: translateY(0);
      opacity: 1;
      transition: background-color 300ms, transform 300ms, opacity 300ms; }
    #tabs .tab-button h {
      margin: auto;
      font-family: "Roboto Slab", serif;
      font-size: 1.25rem; }

#tab-display {
  flex-grow: 1;
  position: relative; }
  #tab-display .tab {
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 0;
    right: 0; }
  #tab-display .current {
    z-index: 1;
    animation: 300ms ease both fade-in-full; }
@keyframes fade-in-full {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  #tab-display .tab-resume {
    display: inline-grid;
    grid-gap: 20px;
    align-content: stretch;
    justify-content: stretch;
    grid-template-columns: repeat(5, 1fr); }
    #tab-display .tab-resume .group {
      border: 3px solid #9ab3d4;
      border-radius: 2rem;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      line-break: anywhere; }
      #tab-display .tab-resume .group top {
        padding: 4px 8px 8px 4px;
        background-color: rgba(76, 128, 186, 0.5);
        font-family: "Roboto Slab", serif;
        font-weight: bold;
        font-size: 1.5rem;
        text-align: center;
        color: #fafff4; }
      #tab-display .tab-resume .group content {
        flex-grow: 1;
        padding: 0.65rem;
        font-family: "Roboto Light", sans-serif;
        font-weight: 300;
        white-space: pre-line; }

/*# sourceMappingURL=index.css.map */
