:root {
    --main-bg-color: #fff;
    --accent-bg-color: #2379cc;
    /**/
    --container1-bg-color: #fff;
    --container2-bg-color: #fff;
    /**/
    --main-text-color: #222;
    --sub-text-color: #333;
    --accent-text-color: #4382be;
    --gold-text-color: #ffcc24;
    /**/
    --shadow-color: #0008;
    --shadow-color-light: #0003;
    /**/
    --font: 'Roboto', sans-serif;
}

    :root.theme-dark {
        --main-text-color: #eee;
        --main-bg-color: #222;
        /**/
        --container1-bg-color: #333;
        --container2-bg-color: #333;
    }

body {
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
}

h1, h2, h3, button {
    color: var(--main-text-color);
    font-family: var(--font);
}

button {
    font-size: large;
    border-radius: 6px;
    border: none;
    padding: 10px;
    background-color: var(--main-bg-color);
}

.theme-toggle {
    position: fixed;
    bottom: 15px;
    right: 15px;
    opacity: 0.3;
    box-shadow: var(--main-text-color) 0 0 2px;
    cursor: pointer;
}

    .theme-toggle:hover {
        opacity: 1;
        box-shadow: var(--main-text-color) 0 0 5px;
    }

    .theme-toggle:focus {
        outline: none !important;
    }

.header {
    width: auto;
}

    .header .top-accent {
        width: 100%;
        height: 120px;
        position: absolute;
        z-index: -1;
        background-color: var(--accent-bg-color);
        box-shadow: inset 0px -10px 10px var(--shadow-color-light);
    }

    .header .info {
        height: 240px;
        display: flex;
    }

        .header .info .info-avatar {
            width: auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

        .header .info .avatar-container {
            width: 200px;
            height: 200px;
            border-radius: 100%;
            padding: 10px;
            box-shadow: 0 0 10px var(--shadow-color);
            bottom: 0;
            background-color: var(--container1-bg-color);
        }

        .header .info .avatar {
            height: inherit;
            width: inherit;
            object-fit: cover;
            border-radius: 100%;
        }

        .header .info .info-child {
            width: 50%;
            margin: 0 15px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-bottom: 30px;
        }

        .header .info h1 {
            font-weight: 500;
            margin: 0;
        }

        .header .info h2 {
            font-weight: 300;
            font-style: italic;
            margin: 0;
        }

        .header .info .left {
            text-align: right;
        }

        .header .info #_contacts {
            display: flex;
            justify-content: flex-start;
        }

        .header .info .contact {
            width: 60px;
            height: 60px;
            margin-right: 20px;
        }

.projects {
    width: auto;
    margin: 0 60px;
}

    .projects .project-group {
        margin-bottom: 60px;
    }

        .projects .project-group .name {
            font-weight: 300;
            color: var(--accent-text-color);
            margin: 0;
        }

        .projects .project-group .separator {
            width: auto;
            height: 1px;
            background-color: var(--accent-text-color);
        }

        .projects .project-group .project-grid {
            width: auto;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }

.project {
    width: 680px;
    height: 540px;
    border-radius: 10px;
    background-color: var(--container2-bg-color);
    box-shadow: 0 0 10px var(--shadow-color-light);
    margin: 40px 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
}

    .project * {
        margin: 0;
    }

    .project .icon {
        border-radius: 10%;
        width: 80px;
        height: 80px
    }

    .project .title {
        font-weight: 500;
    }

    .project .ratings {
        font-weight: 400;
        font-size: medium;
        color: var(--gold-text-color);
    }

    .project .downloads {
        font-weight: 400;
        font-size: medium;
    }

    .project .screenshots {
        flex-grow: 1;
        display: flex;
        justify-content: stretch;
        align-content: baseline;
        padding: 10px 0;
        min-height: 0;
    }

        .project .screenshots .screenshot-cell {
            margin: 0 2px;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

            .project .screenshots .screenshot-cell:first-child {
                margin-right: 2px;
            }

            .project .screenshots .screenshot-cell:last-child {
                margin-left: 2px;
            }

        .project .screenshots .screenshot {
            flex-grow: 1;
            object-fit: cover;
            max-width: 100%;
            max-height: 100%;
        }

    .project .links {
        display: flex;
        justify-content: space-evenly;
        align-content: baseline;
        width: auto;
        height: 80px;
    }

        .project .links > * {
            width: 45%;
            display: flex;
            justify-content: center;
        }

        .project .links img {
            object-fit: contain;
            max-width: 100%;
            max-height: 100%;
        }

@keyframes animate-project {
    from {
        transform: translateY(200px);
    }

    to {
        opacity: 1;
    }
}

@keyframes animate-screenshot {
    from {
        transform: scale(0.6);
    }

    to {
        transform: scale(1);
    }
}

.footer {
    width: auto;
    height: 100px;
    background-color: var(--accent-bg-color);
    box-shadow: inset 0px 10px 10px var(--shadow-color-light);
}
